:root {
    --mainBgColor: hsl(0, 100%, 74%);
    --createButtonColor: hsl(154, 59%, 51%);
    --freeTrialSignColor: hsl(248, 32%, 49%);
    --inputLettersColor: hsl(249, 10%, 26%);
    --inputFieldsBorderColor: rgb(185, 182, 211, 0.4);
    --footerLettersColor: hsl(246, 25%, 77%);
    --footerLinksColor: hsl(0, 100%, 74%);
    --errorColor: hsl(0, 100%, 74%);
    --successColor: hsl(154, 59%, 51%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    display: grid;
    justify-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../images/bg-intro-mobile.png) no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-color: var(--mainBgColor);

}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.625rem 0.3125rem 1.875rem 0.3125rem;
    color: white;
}
.title h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 14px;
    padding: 0 1.375rem 0 1.375rem;
}
.title #description {
    text-align: center;
    font-weight: 400;
    padding: 0 1.5625rem 0 1.5625rem;
}

/* ------------------------------------------------------ */

.free-trial-sign {
    display: grid;
    align-self: center;
    width: 84%;
    margin-bottom: 1.125rem;
    border-radius: 0.7rem;
    background-color: var(--freeTrialSignColor);
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.23);
}
.free-trial-sign p span {
    font-weight: 700;
}
.free-trial-sign p {
    text-align: center;
    padding: 0.625rem 2.5rem 0.625rem 2.5rem;
    color: white;
    font-weight: 400;
}

/* ------------------------------------------------------ */

.form-container {
    display: grid;
    align-self: start;
    width: 84%;
    padding: 1.46rem;
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.23);
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9375rem;
}
.input {
    display: block;
    border: 1px solid var(--inputFieldsBorderColor);
    border-radius: 0.5rem;
    height: 3.125rem;
    margin-bottom: 0.3125rem;
    padding: 0.9375rem;
}
.input::placeholder {
    color: var(--inputLettersColor);
    font-weight: 600;
}
.input:focus {
    outline: none;
}
.form-field.error input {
    border-color: var(--errorColor);
    background: url(../images/icon-error.svg) no-repeat;
    background-position: 96% center;
}
.form-field.error #email::placeholder {
    color: var(--errorColor);
}
.form-field.error .input::placeholder {
    color: transparent;
}

.form-field.success input {
    border-color: var(--successColor);
}

.form-field small {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--errorColor);
}

.submit-button {
    background-color: var(--createButtonColor);
    border: none;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
    height: 3.125rem;
    cursor: pointer;
    font-weight: 700;
    box-shadow: inset -1px -4px 1px 0px rgba(0,0,0,0.23), inset 1px 1px 1px 0px rgba(0,0,0,0.23);
}
.submit-button:hover {
    opacity: 0.7;
}

/* ------------------------------------------------------ */

.footer {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.75rem;
    color: var(--footerLettersColor);
}
.footer a {
    text-decoration: none;
    color: var(--footerLinksColor);
}

/* ------------------------------------------------------ */
@media (max-width: 375px) {
    .main-container {
        padding-bottom: 1.5625rem;
    }
}

@media (min-width: 500px) and (max-width:699px) {
    .title {
        margin: 3.125rem;
    }
    .title h1 {
        font-size: 2rem;
    }
}
@media (min-width: 420px) {
    .main-container {
        background: url(../images/bg-intro-desktop.png) no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--mainBgColor);
        overflow-x: hidden;
    }
}

@media (min-width: 700px) {
    .main-container {
        grid-template-areas: 
        "title title title sign sign sign"
        "title title title sign sign sign"
        "title title title sign sign sign"
        "title title title sign sign sign"
        "title title title form form form"
        "title title title form form form"
        "title title title form form form"
        "title title title form form form"
        ;
    }
    .title {
        grid-area: title;
        max-width: 570px;
        justify-self: right;
        margin: 0;
    }
    .title h1 {
        text-align: left;
        padding: 0 5.625rem 0 1.25rem;
        font-size: 3.3125rem;
    }
    .title #description {
        text-align: left;
        padding: 0 0.9375rem 0 0.9375rem;
    }
    .free-trial-sign {
        grid-area: sign;
        max-width: 500px;
        align-self: flex-end;
        justify-self: left;
    }
    .form-container {
        grid-area: form;
        max-width: 500px;
        justify-self: left;
    }
}
@media (min-width: 700px) and (max-width: 1024px) {
    .title h1 {
        font-size: 2.1875rem;
    }
}

@media (max-width: 1330px) {
    .free-trial-sign {
        width: 80%;
    }
    .form-container {
        width: 80%;
    }
}